# Binaries
**/bin/*
bin-int/
!vendor/bin/premake/*

# Enma files
*.log
**/EnmaProfile-Runtime.json
**/EnmaProfile-Shutdown.json
**/EnmaProfile-Startup.json

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user